<!doctype html>
<html lang="en">
	<style type="text/css">

	</style>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="/static/main.js"></script>

	<style type="text/css">
    .limit{
        width: 300px;
        height: 500px;
        max-height: 500px;
        overflow: hidden;
     }
    img{
       width: 100%;
     }
 </style>

</head>

  <body>
	<div class="container" id="container">
		<div class="row" style="margin-top: 100px;">
			<div class="col-12">
				<div class="input-group mb-3">
					<input id="url" type="text" class="form-control" placeholder="請輸入要縮短的網址" aria-label="請輸入要縮短的網址" aria-describedby="basic-addon2">
					<div class="input-group-append">
					  <button id="confirm" class="btn btn-outline-secondary" type="button">確認</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				</h4>已幫您將網址轉換為: </h4>
			</div>
			<div class="col-8">
				<h5>
					<a id="response"></a>
				</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				</h4>預覽文字: </h4>
			</div>
			<div class="col-8">
				<h5>
					<a id="paragraph"></a>
				</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6 limit">
				<img id="previewImg" src="">
			</div>
		</div>
	
		
</body>
</html>